

@{
    ViewData["Title"] = "Index";
}

<h2></h2>

<p>
    <a asp-controller="Groups" asp-action="CreateGroup">Создать группу</a>
</p>
<!-- Перебор всех элементов в массиве групп и создание для каждого строки. В строке три колонки с данными-->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            @foreach (Group g in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading"> @Html.DisplayFor(modelItem => g.Name)</div>
                    <div class="panel-body">
                        @foreach (var p in g.Points)
                        {
                            <input class="btn btn-default" type="submit" aria-label="@p.Name" value="@p.Name" 
                            asp-action="IndexPartial" asp-controller="Points" asp-route-IdSCE="@g.SceneId" asp-route-id="@p.Id" 
                            data-ajax="true" data-ajax-mode="replace" data-ajax-update="#TextBox" data-ajax-method="post" >
                            <a class="btn btn-default" aria-label="Редактирование" asp-action="Edit" asp-route-id="@p.Id">
                                <span class="glyphicon-pencil"> </span>
                            </a>
                        }
                    </div>

                    <div class="panel-footer">
                        <a class="btn btn-default" style="font-size: 10px" asp-controller="Points" asp-action="Create" asp-route-IdGr="@g.GroupId">
                            Добавить выражение <span class="glyphicon-plus"></span>
                        </a>

                    </div>

                </div>
            }
        </div>
        <div id="TextBox" class="col-lg-8" >
                    @{ await Html.RenderPartialAsync("IndexPartial");}
                    <!--Место для динамичного окна с текстом инструкции к каждому Point-->
        </div>

        <div class="col-lg-2">
            @foreach (Group g in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a asp-action="EditGroup" asp-controller="Groups" asp-route-IdGr="@g.GroupId">Редактировать Группу</a> |
                        <a asp-action="DeleteGroup" asp-controller="Groups" asp-route-IdGr="@g.GroupId">Удалить Группу</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>