

@{
    ViewData["Title"] = "Index";
}

<h2></h2>

<p>
    <a asp-controller="Groups" asp-action="CreateGroup">Создать группу</a>
</p>
<!-- Перебор всех элементов в массиве групп и создание для каждого строки. В строке три колонки с данными-->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            @foreach (Group g in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading"> @Html.DisplayFor(modelItem => g.Name)
                        <a class="btn btn-default" aria-label="Редактирование" asp-action="EditGroup" asp-route-idGR="@g.GroupId" style="font-size: small">
                            <span class="glyphicon glyphicon-pencil"> </span>
                        </a>
                        <a class="btn btn-default" aria-label="Удаление" asp-action="DeleteGroup" asp-route-id="@g.GroupId" style="font-size: small">
                            <span class="glyphicon glyphicon-trash"> </span>
                        </a>
                    </div>
                    <div class="panel-body">
                        @foreach (var p in g.Points)
                        {
                            <button type="button" class="btn btn-primary" id="ModalButton" data-toggle="modal" data-target="#ContextModal" data-content="@p.Context" data-backdrop="false">@p.Name</button>
                            <a class="btn btn-default" aria-label="Редактирование" asp-action="Edit" asp-route-id="@p.Id" style="font-size: small">
                                <span class="glyphicon glyphicon-pencil"> </span>
                            </a>
                        }
                    </div>

                    <div class="panel-footer">
                        <a class="btn btn-default" style="font-size: 10px" asp-controller="Points" asp-action="Create" asp-route-IdGr="@g.GroupId">
                            Добавить выражение <span class="glyphicon-plus"></span>
                        </a>

                    </div>

                </div>
            }
        </div>
        <div class="col-lg-8">
            <div class="modal-content" id="ContextModal">
                <div class="modal-body">
                    <p id="Context" style="min-height: 300px" />
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script type="text/javascript">
        $('#ContextModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Кнопка, что спровоцировало модальное окно

            var content = button.data('content') // Извлечение информации из данных-* атрибутов

            var modal = $(this)
            modal.find('#Context').text(content);
        });
    </script>
}

