@model IEnumerable<Asp.Net_MVC.Models.Script>

@{
    ViewData["Title"] = "Список скриптов";
}

<h2>Список скриптов</h2>

<p>
    <a asp-action="CreateScript">Создать новый скрипт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название скрипта
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Количество "чего-то"
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Scenes" asp-action="IndexScene" asp-route-IdSCR="@item.ScriptId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    <a asp-action="EditScript" asp-route-id="@item.ScriptId">Редактировать</a> |
                    <a asp-action="DeleteScript" asp-route-id="@item.ScriptId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
